<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>wake-assets</title>
    <%= @assets.include_css 'application.css' %>
  </head>
  <body>

    <h1>wake-assets demo</h1>

    <%= @assets.include_image 'dog.jpg' %>

    <p><a href="http://www.flickr.com/photos/48289187@N00/8939291169">Daily Dog 2013 152: Krimmler Waterfalls</a> by
      <a href="http://www.flickr.com/photos/cheesy42/">cheesy42</a></p>

  </body>
</html>

